<div class="card">
  <img src=<%= cocktail.image %> class="card-img-top" alt="<%= cocktail.name %>" style="height: 300px; object-fit: contain;">
  <div class="card-body d-flex flex-column justify-content-between">
    <div>
        <h5 class="card-title font-weight-bold"><%= cocktail.name %></h5>
        <p class="card-text "><%= cocktail.description.truncate(100) %></p>
    </div>
    <div>
        <%= link_to 'View', cocktail, class: 'btn btn-info btn-block align-bottom'  %>
    </div>
  </div>
</div>
  